<div class="sixteen wide column">
    <div class="ui breadcrumb">
        <a class="section" href="/">Home</a>
        <i class="right angle icon divider"></i>
        <div class="active section">
            <%= title %>
        </div>
    </div>
</div>