<div class="ui small modal">
    <div class="header">Cluster Scatter Plot (Expanded)</div>
    <div class="content">
        <div id="expclascatterplot"></div>
    </div>
    <div class="actions">
        <div class="ui approve button">OK</div>
    </div>
</div>
