<div id="" class="sixteen wide column">
	<div class="ui form">
        <div class="inline fields">
            <label>Type</label>
            <div class="field">
                <div class="ui mini compact menu">
                    <div class="ui simple dropdown item">
                        <span>{{ selections.entropymodeName }}</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div v-for='item in settings.entropytypes' class="item" v-on:click='changeEntropyMode(item)'>{{ item.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <label>Filter Control</label>
            <div class="field">
                <div class="numberinput ui mini input">
				  <input type="number" placeholder="Input filter">
				</div>
            </div>
        </div>
    </div>
</div>