<div class="sixteen wide column">
    <h5>Another Discovery Approach</h5>
    <div class="ui info mini message transition">
	  <p>
	    The legends in the map reflects hour of the location records, for example, 9 means 9:00.
	  </p>
	</div>

	<div class="ui form">
        <div class="inline fields">
        	<label>Target Time periods</label>
        	<div class="field">
        		<div class="ui mini compact menu">
			        <div class="ui simple dropdown item">
			            <span>{{ selections.matimeVal }}</span>
			            <i class="dropdown icon"></i>
			            <div class="menu">
			                <div v-for='item in settings.madaytypes' class="item">
			                    <i class="dropdown icon"></i>
			                    <span>{{ item.name }}</span>
			                    <div class="menu">
			                        <div v-for="tpitem in settings.timeperiods" class="item" v-on:click='changecaTime(item.name, tpitem.name, item.val, tpitem.val)'>{{ tpitem.name }}</div>
			                    </div>
			                </div>
			            </div>
			        </div>
	        	</div>
	        </div>
	        <div class="field">
	        	<button id="maDisplayBtn" class="ui mini secondary button" :class="{ 'loading': states.madisplayquery }" v-on:click='maDisplayQuery'>Query</button>
	        </div>
	    </div>
    </div>

    
</div>
