<!-- 降维图片展示/类别散点图 -->
<div v-if='results.decomposeimgurl' class="sixteen wide column" id="panelChart">
    <img class="ui fluid rounded image" :src="results.decomposeimgurl">
</div>
<div v-else class="sixteen wide column" id="panelChart">
    <div id="clascatterplot"></div>
</div>
