<div class="sixteen wide column">
    <div class="ui breadcrumb">
        <a class="section" href="/">Home</a>
        <i class="right angle icon divider"></i>
        <div class="active section">
            <%= title %>
        </div>
    </div>
</div>

<div class="ui divider"></div>

<div class="sixteen wide column">
	<div class="ui info mini message transition">
	  <i class="close icon"></i>
	  <div class="header">
	    See the usage guidance <a id="usageguidance" v-on:click="usageguidanceShow">here
	    </a>.
	  </div>
	</div>
</div>