<div class="ui grid">
    <div id="" class="sixteen wide column">
        <!-- city regions -->
        <!-- <label>City:</label> -->
        <div class="ui mini compact menu">
            <div class="ui simple dropdown item">
                <span>{{ selections.regionVal }}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div v-for='item in settings.regions' class="item" :class="{'disabled': item.name != 'Beijing'}" v-on:click='changeRegion(item.name)'>{{ item.name }}</div>
                </div>
            </div>
        </div>
        <!-- <label>Feature Rules:</label> -->
        <div class="ui mini compact menu">
            <div class="ui simple dropdown item">
                <span>{{ selections.featureName }}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div v-for='item in settings.features' class="item" v-on:click='changeFeature(item.name, item.value)'>{{ item.name }}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="" class="sixteen wide column">
        <div class="ui form">
            <div class="inline fields">
                <label>Sample rate:</label>
                <div class="field">
                    <div class="ui mini radio checkbox">
                        <input type="radio" name="selectrate" checked="checked">
                        <label>1/3</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui mini radio disabled checkbox">
                        <input type="radio" name="selectrate" disabled="disabled">
                        <label>1/10</label>
                    </div>
                </div>
                <div class="field">
                    <button id="tsneBtn" class="ui tiny secondary button" :class="{ 'loading': states.tsnetrain }" v-on:click='tsneTrain'>t-SNE</button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%" v-show='results.decomposeimgurl' class="sixteen wide column" v-on:click="showDecomposeImg">
        <img class="ui fluid image" :src="results.decomposeimgurl" >
    </div>
    <!-- decompose approach buttons -->
    <!-- <div id="" class="sixteen wide column">
	<div class="ui form">
		<div class="inline fields">
			<label>{{ selections.decompName }}</label>
			<div v-for='item in settings.decomps' class="field">
				<div class="ui radio checkbox" :class="{'read-only': item.name != 't-SNE'}">
					<input type="radio" name="decomps" :value="item.value">
					<label>{{ item.name }}</label>
				</div>
			</div>
		</div>
	</div>
</div> -->
</div>