<div class="ui modal">
    <div class="header">Usage Guidance</div>
    <div class="content">
        <h3 data-anchor-id="o0h7" id="training-model-setting">Training Model Setting</h3>
        <ul data-anchor-id="mbeg">
            <li>This part includes region selection, feature selection and sample rate selection, t-SNE is used as the default feature decomposing approach.</li>
            <li>Region: Beijing, Tianjin, Zhangjiakou and Tangshan are provided, only Beijing is available right now.</li>
            <li>Feature: Different feature group are provided, only the features matched your selected rule are used in later cluster and label works.</li>
            <li>Sample rate: The system will provide a sampling based on whole data, to do the taskes. Only 1/3 option is available right now.</li>
        </ul>
        <div class="md-section-divider"></div>
        <h3 data-anchor-id="9s0j" id="cluster-discovery-setting">Cluster Discovery Setting</h3>
        <ul data-anchor-id="j9yr">
            <li>Cluster: DBScan approach is used for the clustering work, two parameters are provided, they are <code>eps</code> and <code>minpts</code>. <code>eps</code> stands for the maximum radius of the neighborhood from current point, <code>minpts</code> is the minimum number of points required to form a dense region.</li>
            <li>Label: Once the system finished cluster work successfully, the label options will appear. Theme stands f or a group of people that you want to label and analysis in later work, Stats index means the time periods that you want to choose to statistic on, in order to filter out the top-N classes in the whole cluster results (<code>N</code> is the percentage, which you can specify from 0% to 100%, you are recommended to choose a proper number with the range, neither too larger nor too small).</li>
        </ul>
        <div class="md-section-divider"></div>
        <h3 data-anchor-id="q9nc" id="visual-analytics-setting">Visual Analytics Setting</h3>
        <ul data-anchor-id="do5i">
            <li>Mode: VA stands for visual analytics on one (kind of) class, VC(Classes) stands for the visual comparison on two different classes, VC(TimePeriods) stands for visual comparison on class with two different time periods.</li>
            <li>Options and Query: You can choose one (multiple) classes or query time periods at one time, the class selection will trigger out the heatmap of the user feature matrix heatmap at once, the query button will trigger the query process of map data from database.</li>
            <li>Query function is unavailable for VC Modes.</li>
            <li>Query function will consume around one minute to get data from database, please be patient.</li>
        </ul>
    </div>
</div>
<div class="actions">
    <div class="ui approve button">OK</div>
</div>
</div>
