<div class="ui modal">
    <div class="header">Usage Guidance</div>
    <div class="content">
        <p>Training Model Setting</p>
        <p>Cluster Discovery Setting</p>
        <p>Visual Analytics Setting</p>
    </div>
    <div class="actions">
        <div class="ui approve button">OK</div>
    </div>
</div>
