<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui form">
            <div class="inline fields">
                <label>Mode</label>
                <div v-for="item in settings.qmodes" class="field" :data-tooltip="item.tooltip" data-position="top left" data-inverted="">
                    <div class="ui mini radio checkbox">
                        <input type="radio" name="recordqmode" :value="item.val" v-model="selections.vcqmodeVal">
                        <label>{{item.name}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Visual Analytics Mode -->
    <div v-if='selections.vcqmodeVal === 0' class="sixteen wide column">
        <!-- VC Class selection dropdown menu -->
        <div class="ui mini compact menu">
            <div id="vcclaDropdown" class="ui simple disabled dropdown item">
                <span>{{ selections.vcclaName }}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div v-for='item in settings.classes' class="item" v-on:click='changeSelectCla(item)'>{{ item }}</div>
                </div>
            </div>
        </div>
        <div class="ui mini compact menu">
            <div class="ui simple dropdown item">
                <span>{{ selections.vctimeName }}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div v-for='item in settings.daytypes' class="item">
                        <i class="dropdown icon"></i>
                        <span>{{ item.name }}</span>
                        <div class="menu">
                            <div v-for="tpitem in settings.timeperiods" class="item" v-on:click='changevcTime(item.name, tpitem.name, item.val, tpitem.val)'>{{ tpitem.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button id="vcBtn" class="ui tiny secondary button" :class="{ 'loading': states.vcquery }" v-on:click='vcQuery'>Query</button>
    </div>
    <!-- Visual Comparison Mode -->
    <div v-else-if='selections.vcqmodeVal === 1' class="sixteen wide column">
        <div class="vcPanelRow row">
            <div class="ui mini compact menu">
                <div id="vcclaDropdown" class="ui simple disabled dropdown item">
                    <span>{{ selections.vcclaName }}</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div v-for='item in results.classlist' class="item" v-on:click='changeSelectCla(item)'>{{ item }}</div>
                    </div>
                </div>
            </div>
            <div class="ui mini compact menu">
                <div id="compvcclaDropdown" class="ui simple disabled dropdown item">
                    <span>{{ selections.compvcclaName }}</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div v-for='item in results.classlist' class="item" v-on:click='changeSelectCompCla(item)'>{{ item }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vcPanelRow row">
            <div class="ui mini compact menu">
                <div class="ui simple dropdown item">
                    <span>{{ selections.vctimeName }}</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div v-for='item in settings.daytypes' class="item">
                            <i class="dropdown icon"></i>
                            <span>{{ item.name }}</span>
                            <div class="menu">
                                <div v-for="tpitem in settings.timeperiods" class="item" v-on:click='changevcTime(item.name, tpitem.name, item.val, tpitem.val)'>{{ tpitem.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button id="vcBtn" class="ui tiny secondary button" :class="{ 'loading': states.vcquery }" v-on:click='vcQuery'>Query</button>
        </div>
    </div>
    <div v-else class="sixteen wide column">
        <div class="vcPanelRow row">
            <div class="ui mini compact menu">
                <div class="ui simple dropdown item">
                    <span>{{ selections.vctimeName }}</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div v-for='item in settings.daytypes' class="item">
                            <i class="dropdown icon"></i>
                            <span>{{ item.name }}</span>
                            <div class="menu">
                                <div v-for="tpitem in settings.timeperiods" class="item" v-on:click='changevcTime(item.name, tpitem.name, item.val, tpitem.val)'>{{ tpitem.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui mini compact menu">
                <div class="ui simple dropdown item">
                    <span>{{ selections.compvctimeName }}</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div v-for='item in settings.daytypes' class="item">
                            <i class="dropdown icon"></i>
                            <span>{{ item.name }}</span>
                            <div class="menu">
                                <div v-for="tpitem in settings.timeperiods" class="item" v-on:click='changecompvcTime(item.name, tpitem.name, item.val, tpitem.val)'>{{ tpitem.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vcPanelRow row">
            <div class="ui mini compact menu">
                <div id="vcclaDropdown" class="ui simple disabled dropdown item">
                    <span>{{ selections.vcclaName }}</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div v-for='item in settings.classes' class="item" v-on:click='changeSelectCla(item)'>{{ item }}</div>
                    </div>
                </div>
            </div>

            <button id="vcBtn" class="ui tiny secondary button" :class="{ 'loading': states.vcquery }" v-on:click='vcQuery'>Query</button>
        </div>
    </div>

    <div class="sixteen wide column">
    	<div id="clamatrixheatmap"></div>
        <div id="compclamatrixheatmap"></div>
    </div>
</div>
<!-- <div class="eight wide column">
	<label>POI types</label>
	<div class="ui form">
		<div class="grouped fields">
			<div v-for='item in settings.poitypes' class="field">
				<div class="ui checkbox">
					<input type="checkbox" name="poitypes" :value="item.val">
					<label>{{ item.name }}</label>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="eight wide column">
	<label>Time periods</label>
	<div class="ui form">
		<div class="grouped fields">
			<div v-for='item in settings.timeperiods' class="field">
				<div class="ui checkbox">
					<input type="checkbox" name="timeperiods" :value="item.val">
					<label>{{ item.name }}</label>
				</div>
			</div>
		</div>
	</div>
</div> -->