<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        <%= title %> | ISCAS-VIS
    </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="/favicon.ico" rel="shortcut icon">
    <style type="text/css" rel="stylesheet">
    @import url('/css/leaflet.css');
    @import url('/css/semantic.css');
    @import url('/css/vistheme.css');
    @import url('/css/pages/<%= name %>.css');
    </style>
</head>

<body class="ui loading segment">
    <div id="map">
        <!-- legends for map visualization approaches -->
    	<svg id='mapviewlegend' width='1' height='1'></svg>
        
        <!-- classes heatmaps -->
    	<div class="heatmap">
	        <div id="compclamatrixheatmap"></div>
	    	<div id="clamatrixheatmap"></div>
	    </div>
    </div>
    <div id="userpanel" class="ui row segment">
        <div class="sixteen wide column">
            <div class="row">
                <% include v-components/breadcrumb %>
                
                <% include v-components/dataselection %>
                <% include v-components/entropyselection %>
                
                <div class="ui divider"></div>
                
                <% include v-components/areaselection %>
            </div>
        </div>
        
        <% include v-components/classmodal %>
    </div>
    </div>
    <script src="/dist/<%= name %>.js"></script>
</body>

</html>
