<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
		<%= title %>
	</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link href="/favicon.ico" rel="shortcut icon">
	<style type="text/css" rel="stylesheet">
	@import '/css/leaflet.css';
	@import '/css/semantic.css'
	</style>
	
	<style type="text/css">
		body {
			margin: 0 !important;
			padding: 0 !important;
			border: none !important;
		}

		#map {
			height: 100vh;
		  	width: 100vw;
		}

		.basic-margin {
			margin: 1rem !important;
		}
		.no-padding {
			padding: 0 !important;
		}
		  

		/*user panel background stylesheets*/
		#userpanel {
			top: 0;
			width: 25vw;
			position: absolute;
			/*padding: 1rem;*/
			margin: 0;
			height: 100vh;
		 	z-index: 9;
		  	background-color: rgba(255,255,255,.7);
		}

		.ui.radio.checkbox label {
		    padding-left: 1.25714em;
		}

		.ui.mini.table {
			font-size: 0.78571429rem;
		}

		td>input {
			width: 87%;
		}
		td>span {
			vertical-align: top;
			float: right;
		}

		.wide.column {
			padding-top: .4rem;
			padding-bottom: .4rem;
		}
		.eps.ui.mini.input {
			width: 6em;
		}
	</style>
</head>

<body class="ui loading segment">
	<div id="map"></div>
	<div id="userpanel" class="ui row segment">
		<div class="sixteen wide column">
			<div class="row">
				<div class="sixteen wide column">
					<div class="ui breadcrumb">
						<a class="section" href="/">Home</a>
						<i class="right angle icon divider"></i>
						<div class="active section"><%= title %></div>
					</div>
				</div>
				<div class="ui divider"></div>
				
				<!--  -->
				<div class="ui accordion">
				  <div class="active title">
				    <i class="dropdown icon"></i>
				    Training Model Setting
				  </div>
				  <div class="active content">
				    <div class="ui grid">
				    	<div id="" class="sixteen wide column">
				    		<!-- city regions -->
					    	<div class="ui mini compact menu">
							  <div class="ui simple dropdown item">
							    <span>{{ selections.regionVal }}</span>
							    <i class="dropdown icon"></i>
							    <div class="menu">
							      <div v-for='item in settings.regions' class="item" :class="{'disabled': item.name != 'Beijing'}" v-on:click='changeRegion(item.name)' >{{ item.name }}</div>
							    </div>
							  </div>
							</div>

					    	<div class="ui mini compact menu">
							  <div class="ui simple dropdown item">
							    <span>{{ selections.featureName }}</span>
							    <i class="dropdown icon"></i>
							    <div class="menu">
							      <div v-for='item in settings.features' class="item" v-on:click='changeFeature(item.name, item.value)' >{{ item.name }}</div>
							    </div>
							  </div>
							</div>

							<div class="ui mini radio checkbox">
							  <input type="radio" name="selectrate" checked="checked">
							  <label>1/3&nbsp;&nbsp;&nbsp;&nbsp;</label>
							</div>

							<button id="tsneBtn" class="ui tiny secondary button" :class="{ 'loading': states.tsnetrain }" v-on:click='tsneTrain'>t-SNE</button>
					    </div>
						
						<!-- decompose approach buttons -->
					    <!-- <div id="" class="sixteen wide column">
							<div class="ui form">
								<div class="inline fields">
									<label>{{ selections.decompName }}</label>
									<div v-for='item in settings.decomps' class="field">
										<div class="ui radio checkbox" :class="{'read-only': item.name != 't-SNE'}">
											<input type="radio" name="decomps" :value="item.value">
											<label>{{ item.name }}</label>
										</div>
									</div>
								</div>
							</div>
					    </div> -->
				    </div>

				  </div>
				  <div class="title">
				    <i class="dropdown icon"></i>
				    Cluster Discovery Setting
				  </div>
				  <div class="content">
				    <div class="ui grid">
				    	<div id="" class="sixteen wide column">
				    		<label>eps value</label>
				    		<div class="eps ui mini input">  
							  <input type="text" placeholder="EPS..." v-model='selections.dbscaneps'>
							</div>
							<label>minpts value</label>
							<div class="ui mini compact menu">
							  <div class="ui simple dropdown item">
							    <span>{{ selections.dbscanminptsName }}</span>
							    <i class="dropdown icon"></i>
							    <div class="menu">
							      <div v-for='item in settings.dbscan.minpts' class="item" v-on:click='changeDBScanInp(item)' >{{ item }}</div>
							    </div>
							  </div>
							</div>

							<button id="clusterBtn" class="ui tiny secondary button" :class="{ 'loading': states.clustertrain }" v-on:click='clusterTrain'>Cluster</button>
						</div>

						<div id="" class="sixteen wide column">
				    		<div class="ui mini compact menu">
							  <div class="ui simple dropdown item">
							    <span>{{ selections.themeName }}</span>
							    <i class="dropdown icon"></i>
							    <div class="menu">
							      <div v-for='item in settings.themes' class="item" v-on:click='changeTheme(item.name, item.value)' >{{ item.name }}</div>
							    </div>
							  </div>
							</div>
				    	</div>

				    	<div v-show='selections.tmodelVal.length' class="sixteen wide column">
				    		<table class="ui mini celled table">
							  <thead>
							    <tr><th>Label Field</th>
							    <th>Control</th>
							  </tr></thead>
							  <tbody>
							    <tr v-for='item in selections.tmodelVal'>
							      <td>{{ item.field }}</td>
							      <td><input type="range" :name="item.field" :min="item.min" :max="item.max" v-model="item.pred"><span>{{ item.pred }}</span></td>
							    </tr>
							  </tbody>
							</table>
				    	</div>

				    	<div v-show='selections.tmodelVal.length' class="sixteen wide column">
				    		<button id="labelBtn" class="ui tiny secondary button" :class="{ 'loading': states.labeltrain }" v-on:click='labelTrain'>Label</button>
				    	</div>
				    </div>
				  </div>
				  <div class="title">
				    <i class="dropdown icon"></i>
				    Visual Analytics Panel
				  </div>
				  <div class="content">
				    <div class="ui grid">
				    	<div class="sixteen wide column">
							<div class="ui mini compact menu">
							  <div class="ui simple dropdown item">
							    <span>{{ selections.themeName }}</span>
							    <i class="dropdown icon"></i>
							    <div class="menu">
							      <div v-for='item in settings.themes' class="item" v-on:click='changeTheme(item.name, item.value)' >{{ item.name }}</div>
							    </div>
							  </div>
							</div>

				    		<div class="ui mini compact menu">
							  <div class="ui simple dropdown item">
							    <span>{{ selections.vctimeName }}</span>
							    <i class="dropdown icon"></i>
							    <div class="menu">
							      <div v-for='item in settings.daytypes' class="item" >
							      	<i class="dropdown icon"></i>
								      <span>{{ item.name }}</span>
								      <div class="menu">
								        <div v-for="tpitem in settings.timeperiods" class="item" v-on:click='changevcTime(item.name, tpitem.name, item.val, tpitem.val)'>{{ tpitem.name }}</div>
								      </div>
								  </div>
						        </div>
						      </div>
						    </div>

						    <button id="vcBtn" class="ui tiny secondary button" :class="{ 'loading': states.vcquery }" v-on:click='vcQuery'>Query</button>
				    	</div>
					</div>

				    	<!-- <div class="eight wide column">
							<label>POI types</label>
							<div class="ui form">
								<div class="grouped fields">
									<div v-for='item in settings.poitypes' class="field">
										<div class="ui checkbox">
											<input type="checkbox" name="poitypes" :value="item.val">
											<label>{{ item.name }}</label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="eight wide column">
							<label>Time periods</label>
							<div class="ui form">
								<div class="grouped fields">
									<div v-for='item in settings.timeperiods' class="field">
										<div class="ui checkbox">
											<input type="checkbox" name="timeperiods" :value="item.val">
											<label>{{ item.name }}</label>
										</div>
									</div>
								</div>
							</div>
						</div> -->
				    </div>
				  </div>
				</div>

				

				<!--  range -->
				<div id="poicheckbox" class="sixteen wide column">
					<div class="ui grid">
						
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<script src="/dist/<%= name %>.js"></script>
</body>



</html>
