<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        <%= title %> | ISCAS-VIS
    </title>
    <meta name="description" content=""Urban Mobility Map: Information-theoretic visual analysis of big user check-in data>
    <meta name="keywords" content="Visual Analytics">
    <link href="/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="/css/leaflet.css">
    <link rel="stylesheet" type="text/css" href="/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/pages/<%= name %>.css">
</head>

<body>
    <div id="titlemenu" class="ui inverted menu">
        <div class="header item"><h2>Urban Prism: User-level Visual Analysis of Mobile Big Data</h2></div>
    </div>

    <div class="ui row" id="main">    
        <div id="userpanel" class="ui segment">
            <% include home-x/panel %>
        </div>
        <div id="mappanel" class="ui segment">
            
            <div v-for="(model, index) in sels.objs" :class="mapClass" class="ui segment">
                <div :id="'map' + index" class="vamap"></div>
                <% include home-x/mapcard %>

                <div class="ui dimmer">
                    <div class="ui medium text loader">Loading Data</div>
                </div>
            </div>
        </div>
            
    </div>
    
    <script src="/dist/<%= name %>.js"></script>
</body>

</html>
