<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        <%= title %>
    </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="/favicon.ico" rel="shortcut icon">
    <style type="text/css" rel="stylesheet">
    @import '/css/leaflet.css';
    @import '/css/semantic.css'
    </style>
    <style type="text/css">
    body {
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
    }
    
    #map {
        height: 100vh;
        width: 100vw;
    }
    
    .basic-margin {
        margin: 1rem !important;
    }
    
    .no-padding {
        padding: 0 !important;
    }
    /*user panel background stylesheets*/
    
    #userpanel {
        top: 0;
        width: 25vw;
        position: absolute;
        /*padding: 1rem;*/
        margin: 0;
        height: 100vh;
        z-index: 9;
        background-color: rgba(255, 255, 255, .7);
    }
    
    .ui.radio.checkbox label {
        padding-left: 1.3rem;
    }
    
    .ui.mini.table {
        font-size: 0.78571429rem;
    }
    
    .column>input {
        width: 50%;
    }
    
    .column>label {
        vertical-align: top;
        /*float: right;*/
    }
    
    .ui.grid > .wide.column {
        padding-top: .2rem;
        padding-bottom: .2rem;
    }
    
    .ui.form .fields .field .eps.ui.mini.input input {
        width: 4.3em;
    }
    
    .ui.form .inline.fields {
        margin-bottom: .2em;
    }

    #clamatrixheatmap, #compclamatrixheatmap {
    	height: 200px;
    }

    .ui.checkbox label {
    	font-size: .8rem;
    }

    .vcPanelRow.row {
    	padding-bottom: .2rem;
    	padding-top: .2rem;
    }

    #usageguidance, #decomposeImg>img {
    	cursor:pointer;
    }

    #decomposeImg {
		position: absolute;
    	bottom: 0;
    	padding-right: 14px;
    }

    /*TEST STYLESHEETS FOR MAP OVERLAY LEGEND*/
    #mapviewlegend {
    	position: absolute;
    	left: 26vw;
    	top: 1rem;
    	/*background-color: red;*/
    	z-index: 3;
    }
    </style>
</head>

<body class="ui loading segment">
    <div id="map">
    	<svg id='mapviewlegend' width='100' height='20'></svg>
    </div>
    <div id="userpanel" class="ui row segment">
        <div class="sixteen wide column">
            <div class="row">
                <% include components/breadcrumb %>
                <div class="ui divider"></div>
                <!--  -->
				<div class="sixteen wide column">
					<div class="ui info mini message transition">
					  <i class="close icon"></i>
					  <div class="header">
					    See the usage guidance <a id="usageguidance" v-on:click="usageguidanceShow">here
					    </a>.
					  </div>
					</div>
				</div>

				<div v-show='results.decomposeimgurl' id="decomposeImg" v-on:click="showDecomposeImg" data-tooltip="Click the image to see details" data-position="right center" data-inverted="">
			        <img class="ui fluid rounded image" :src="results.decomposeimgurl" >
			    </div>

                <div class="ui accordion">
                    <div class="active title" data-tooltip="Data and model selection, feature decomposing works" data-position="right center" data-inverted="">
                        <i class="dropdown icon"></i> Training Model Setting
                    </div>
                    <div class="active content">
                        <% include components/trainmodelsetting %>
                    </div>
                    <div class="title" data-tooltip="Cluster and label works" data-position="right center" data-inverted="">
                        <i class="dropdown icon"></i> Cluster Discovery Setting
                    </div>
                    <div class="content">
                        <% include components/clusterlabelsetting %>
                    </div>
                    <div class="title" data-tooltip="Visual analytics and comparison interaction works" data-position="right center" data-inverted="">
                        <i class="dropdown icon"></i> Visual Analytics Panel
                    </div>
                    <div class="content">
                        <% include components/vcpanel %>
                    </div>
                </div>
            </div>
        </div>

        <% include components/usageguidance %>
    </div>
    </div>
    <script src="/dist/<%= name %>.js"></script>
</body>

</html>
