<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        <%= title %>
    </title>
    <meta name="description" content=""Urban Mobility Map: Information-theoretic visual analysis of big user check-in data>
    <meta name="keywords" content="Visual Analytics">
    <link href="/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="/css/leaflet.css">
    <link rel="stylesheet" type="text/css" href="/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/pages/<%= name %>.css">
</head>

<body>
    <div id="main">
        <div id="titlemenu" class="ui inverted menu">
            <div class="header item"><h2>Urban FACET: Visually Profiling Cities from Mobile Device Recorded Movement Data of Millions of City Residents</h2></div>
            <div class="header item" id="closeIcon" v-show="sels.dynamic"><h2><i class="compress icon cursor" @click="closeDynamic"></i></h2></div>
        </div>

        <div class="ui row" >
            <div id="userpanel" class="ui segment">
                <% include home-x/panel %>
            </div>
            
            <div id="mappanel" class="ui segment">
                <div v-for="(model, index) in sels.objs" :class="mapClass" class="ui segment">
                    <div :id="'map' + index" class="vamap"></div>
                    <% include home-x/mapcard %>

                    <div :id="'dimmer' + index" class="ui dimmer">
                        <div class="ui medium text loader">Loading Data</div>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <div id="dynamicview">
        <% include home-x/dynamic %>
    </div>
    
    
    <script src="/dist/<%= name %>.js"></script>
</body>

</html>
