<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="/favicon.ico" rel="shortcut icon">
	<style type="text/css" rel="stylesheet">
	@import '/css/leaflet.css';
	@import '/css/semantic.css'
	</style>
</head>

<body>
	<div id="labcontainer">
		<div class="ui grid">
			<div class="sixteen wide column">
				<div class="ui grid">
					<div class="sixteen wide column">
						<h2 class="ui header">Cluster Results Analysis of Decomposed User Features (via t-SNE)</h2>
						<div class="ui breadcrumb">
							<a class="section" href="/">Home</a>
							<i class="right angle icon divider"></i>
							<div class="active section"><%= title %></div>
						</div>
					</div>
					<div class="eightyvhcol twelve wide column">
						<div id="scatterplot"></div>
					</div>
					<div class="eightyvhcol two wide column">
						<h4 class="ui header">Parameters</h4>
						<div class="ui divider"></div>
						
						<div class="ui form">
						  <div class="grouped fields">
							<label>Data origin</label>
							<div v-for="key in results"  class="field">
							  <div class="ui radio checkbox">
								<input type="radio" name="resultselection" :value="key.name" v-model="resultsel">
								<label>{{key.name}}</label>
							  </div>
							</div>
						  </div>
						</div>

						<div class="ui divider"></div>

						<button id="loadCluster" class="ui button" v-on:click='loadData'>Load</button>
						<div class="ui divider"></div>
						
						<h5>Cluster IDs</h5>
						<div class="ui fluid input">
						  <input type="text" placeholder="ClusterID..." v-model="idlist">
						</div>
					</div>

					<div class="eightyvhcol two wide column">
						<div class="ui form">
						  <div class="grouped fields">
							<label>POI Type</label>
							<div v-for="key in cluster"  class="field">
							  <div class="ui radio checkbox">
								<input type="radio" name="clusterinfostats" :value="key.val" v-model="clustersel">
								<label>{{key.name}}</label>
							  </div>
							</div>
						  </div>
						</div>

						<div class="ui divider"></div>

						<div class="ui form">
						  <div class="grouped fields">
						  	<label>Time periods</label>
						  	<div v-for="key in timeperiods" class="ui checkbox field">
							  	<input type="checkbox" name="timeperiodstats" :value="key.value" v-model="tpsel">
							  	<label>{{key.name}}</label>
							</div>
						  </div>
						</div>

						<div class="ui divider"></div>
						<button class="ui button" v-on:click="getStats">Stats</button>
					</div>

					<div id="matrixplot" class="visvhcol ten wide column"></div>
					<div id="pieplot" class="visvhcol six wide column"></div>
					<div id="barplot" class="visvhcol twelve wide column"></div>
					<div id="recnumplot" class="visvhcol four wide column"></div>
				</div>
			</div>
		</div>
	</div>
	
    <script src="/dist/<%= name %>.js"></script>
</body>

<style type="text/css">
	#labcontainer {
		padding: 1rem;
	}

	#scatterplot {
		height: 100%;
		width: 100%;
	}

	.eightyvhcol {
		height: 80vh;
	}
	.visvhcol {
		height: 500px;
	}
</style>

</html>
