<div class="ui grid">
	<div id="" class="sixteen wide column">
		<h4 class="vtitle"><i class="right angle icon divider"></i>Data and Parameters</h4>
	</div>
	<div class="sixteen wide column">
		<div class="ui form">
			<div class="inline fields">
				<label>Regions</label>
				<div v-for='item in params.regions' class="field">
					<div class="ui tiny image">
					  <img v-show="item.active" :src="item.aurl" v-on:click="updateSelectRegion(item.val)">
					  <img v-show="!item.active" :src="item.nurl" v-on:click="updateSelectRegion(item.val)">
					</div>
					
				</div>
			</div>
			<div class="ui divider"></div>
			<div class="inline fields">
				<label>Calculation Type</label>
				<div v-for="item in params.ctypes" class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="calculationtype"  :value="item.val" v-model="selections.ctype">
			        <label>{{item.name}}</label>
			      </div>
			    </div>
			</div>

			<div class="inline fields">
				<label>Entropy Type</label>
				<div v-for="item in params.etypes" class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="entropytype"  :value="item.val" v-model="selections.etype">
			        <label>{{item.name}}</label>
			      </div>
			    </div>
			</div>

			<div class="inline fields">
				<label>Display Value</label>
				<div v-for="item in params.mtypes" class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="displaytype"  :value="item.val" v-model="selections.mtype">
			        <label>{{item.name}}</label>
			      </div>
			    </div>
			</div>

			<div class="inline fields">
				<div class="field">
					<button class="ui tiny primary button" v-on:click="getOverview('entropy')">Entropy</button>
					<button class="ui tiny primary button" v-on:click="getOverview('density')">Density</button>
				</div>
				<div class="field">
					<div class="ui checkbox">
					  <input type="checkbox" name="heatmaptype" v-model='selections.contourmap'>
					  <label>ContourMap: {{selections.contourmap}}</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="" class="sixteen wide column">
		<h4 class="vtitle"><i class="right angle icon divider"></i>Filters (LOG)</h4>
	</div>

	<div v-if="!selections.initialstate" class="sixteen wide column">
		<div class="ui grid">
			<div class="four wide column">EntropyFilter</div>
			<div class="twelve wide column">
				<vue-slider id="eSlider" ref="eSlider" v-bind="components.eSlider" @drag-end="computedSlider('e')" v-model="components.eSlider.value"></vue-slider>
			</div>
			<div class="four wide column">DensityFilter</div>
			<div class="twelve wide column">
				<vue-slider id="dSlider" ref="dSlider" v-bind="components.dSlider" @drag-end="computedSlider('d')" v-model="components.dSlider.value"></vue-slider>
			</div>
			<!-- <div class="three wide column">OpacityFilter(U)</div>
			<div class="thirteen wide column">
				<vue-slider id="oSlider" ref="oSlider" v-bind="components.dSlider" v-model="components.dSlider.value"></vue-slider>
			</div> -->
		</div>	
	</div>
</div>



