<div class="ui grid">
	<div id="floatpanel">
		<div class="sixteen wide column">
			<div class="ui cards">
			  <div class="card">
			    <div class="content">
			      <div class="header">
			        Beijing
			      </div>
			      <div class="meta">
			        2016.7-2016.10
			      </div>
			      <div class="description">
			        WIFI, GPS
			      </div>
			    </div>
			    <div class="extra content">
			      <div class="ui basic red button">Remove</div>
			    </div>
			  </div>
			  <div class="ui divider"></div>
			  <div class="sixteen wide column">
			  	<i class="plus square outline icon"></i>
			  </div>
			  <div class="card">
			    <div class="content">
			      <div class="header">
			        Tianjin
			      </div>
			      <div class="meta">
			        2016.7-2016.10
			      </div>
			      <div class="description">
			        WIFI, GPS
			      </div>
			    </div>
			    <div class="extra content">
			      <div class="ui basic red button">Remove</div>
			    </div>
			  </div>
			</div>
		</div>
	</div>

	<div id="" class="sixteen wide column">
		<div class="ui row">
			<h4 class="vtitle"><i class="right angle icon divider"></i>Data and Parameters</h4>
		</div>
		<div class="ui form">
			<div class="inline fields">
				<label>Regions</label>
				<div v-for='item in params.regions' class="field">
					<div class="ui tiny image">
					  <img v-show="item.active" :src="item.aurl" v-on:click="updateSelectRegion(item.val)">
					  <img v-show="!item.active" :src="item.nurl" v-on:click="updateSelectRegion(item.val)">
					</div>
				</div>
			</div>
			<!-- <div class="ui divider"></div> -->
			<div class="inline fields">
				<label>Calculation Type</label>
				<div v-for="item in params.ctypes" class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="calculationtype"  :value="item.val" v-model="selections.ctype">
			        <label>{{item.name}}</label>
			      </div>
			    </div>
			</div>

			<div class="inline fields">
				<label>Entropy Type</label>
				<div v-for="item in params.etypes" class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="entropytype"  :value="item.val" v-model="selections.etype">
			        <label>{{item.name}}</label>
			      </div>
			    </div>
			</div>

			<div class="inline fields">
				<label>Display Value</label>
				<div v-for="item in params.mtypes" class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="displaytype"  :value="item.val" v-model="selections.mtype">
			        <label>{{item.name}}</label>
			      </div>
			    </div>
			</div>

			<div class="inline fields">
				<div class="ui fluid buttons">
					<button class="ui tiny primary button" v-on:click="getOverview('entropy')">Display Entropy</button>
					<button class="ui tiny primary button" v-on:click="getOverview('density')">Display Density</button>
				</div>
			</div>

			<div class="inline fields">
				<div class="field">
					<div class="ui checkbox">
					  <input type="checkbox" name="heatmaptype" v-model='selections.contourmap'>
					  <label>Contour</label>
					</div>
				</div>
				<div v-show="selections.contourmap" class="field">
					<div class="ui toggle checkbox">
					  <input type="checkbox" name="multiColorSchema" v-model="selections.multiColorSchema">
					  <label>Multicolor Schema</label>
					</div>
				</div>
				<div class="field">
					<div class="ui checkbox">
					  <input type="checkbox" name="gridmaptype" v-model='selections.splitgridmap'>
					  <label>Subgrid(4)</label>
					</div>
				</div>
			</div>

			<div v-show="selections.contourmap" class="inline fields">
				<label>Display Schema</label>
				<div v-for="item in params.dtypes" class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="displayschema"  :value="item.val" v-model="selections.dtype">
			        <label>{{item.name}}</label>
			      </div>
			    </div>
			</div>
		</div>

		<div class="ui divider"></div>
	</div>

	<div class="sixteen wide column">
				<div class="ui checkbox checkbox">
					<input type="checkbox" name="tpfilteropt" v-model="selections.tpfilter">
					<label for="tpfilteropt">Filter by Timeblocks or Daytype</label>
				</div>
			</div>
			<div class="sixteen wide column">
				<div v-for='item in params.tpfilters' class="ftpimg ui image">
				  <img v-show="item.active" :src="item.aurl" v-on:click="updateTPFilter(item.val)">
				  <img v-show="!item.active" :src="item.nurl" v-on:click="updateTPFilter(item.val)">
				</div>
			</div>

	<div v-if="!selections.initialstate" class="sixteen wide column">
		<div class="ui row">
			<h4 class="vtitle"><i class="right angle icon divider"></i>Filters (LOG)</h4>
		</div>

		<div class="ui grid">
			<div class="four wide column">EntropyFilter</div>
			<div class="twelve wide column">
				<vue-slider id="eSlider" ref="eSlider" v-bind="components.eSlider" @drag-end="computedSlider('e')" v-model="components.eSlider.value"></vue-slider>
			</div>
			<div class="four wide column">DensityFilter</div>
			<div class="twelve wide column">
				<vue-slider id="dSlider" ref="dSlider" v-bind="components.dSlider" @drag-end="computedSlider('d')" v-model="components.dSlider.value"></vue-slider>
			</div>
			
			
			
		</div>	
	</div>
</div>



