<div class="ui grid">
	<div id="vctab" class="ui pointing secondary menu">
	  <div id="switch0" class="tabs active item" data-tab="tab0">OBJ0</div>
	  <div id='addObjBtn' class="item" @click='addAnaObj'><i class="designedfontcolor plus square outline icon"></i></div>
	  <div id='delObjBtn' class="item" @click='delAnaObj'><i class="minus square outline icon"></i></div>
	</div>

	<div v-for="(model, index) in sels.objs" :id="'tab' + index" class="panels e-active ui bottom attached tab segment" :data-tab="'tab'+index">
		<div class="sixteen wide column">
			<h4 class="designedfontcolor ui header"><i class="right angle icon divider"></i>Data and Parameters</h4>
		</div>
		<div class="sixteen wide column">
			<div class="ui form">
				<div class="inline fields">
					<label><img class="ui mini image" src="/assets/region-icon.png">Regions</label>
					<div v-for='item in params.regions' class="field">
						<div class="ui tiny image">
						  <img v-show="item.val === model.city" :src="item.aurl" @click="updateSelectRegion(index, item.val)" :title="item.name">
						  <img v-show="item.val !== model.city" :src="item.nurl" @click="updateSelectRegion(index, item.val)" :title="item.name">
						</div>
					</div>
				</div>
				<!-- <div class="ui divider"></div> -->
				<div class="inline fields">
					<label><img class="ui mini image" src="/assets/type-icon.png">Entropy Type</label>
					<div class="field">
						<select class="roundselect" v-model='model.etype'>
						  <option v-for='item in params.etypes' :value="item.val">{{ item.name }}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="sixteen wide column">
			<label><img class="ui mini image" src="/assets/time-icon.png">Timeblocks or Daytype</label><br>

			<div v-for='item in params.tpfilters' class="ftpimg ui image">
			  <img v-show="item.val === model.ftpval" :src="item.aurl" v-on:click="updateTPFilter(item.val, index)" :title="item.name">
			  <img v-show="item.val !== model.ftpval" :src="item.nurl" v-on:click="updateTPFilter(item.val, index)" :title="item.name">
			</div>
		</div>

		<div class="sixteen wide column">
			<div class="ui row">
				<h4 class="ui header"><i class="right angle icon divider"></i>Display Control</h4>
			</div>
		</div>
		
		<div class="sixteen wide column">
			<div class="ui form">
				<div class="inline fields">
					<label><img class="ui mini image" src="/assets/type-icon.png">VIS</label>
					<div class="field">
						<div class="ui checkbox">
						  <input type="checkbox" name="heatmaptype" v-model='sels.ctrmap'>
						  <label for="heatmaptype">Contour</label>
						</div>
					</div>
					<div v-show="sels.ctrmap" class="field">
						<div class="ui toggle checkbox">
						  <input type="checkbox" name="multiColorSchema" v-model="sels.ctrsets.multiColorSchema">
						  <label for="multiColorSchema">MultiColors</label>
						</div>
					</div>
					<div class="field">
						<div class="ui checkbox">
						  <input type="checkbox" name="gridmaptype" v-model='sels.splitmap'>
						  <label>Subgrid(4)</label>
						</div>
					</div>
				</div>

				<div class="inline fields">
					<label><img class="ui mini image" src="/assets/type-icon.png">Display Schema</label>
					
					<div class="field">
						<select class="roundselect" v-model='model.dtype' @change="updateDS(index, model.dtype)">
						  <option v-for='item in params.dtypes' :value="item.val">{{ item.name }}</option>
						</select>
					</div>

					<!-- <div v-for="item in params.dtypes" class="field" >
				      <div class="ui radio checkbox">
				        <input type="radio" name="displayschema" :value="item.val" @click="updateDS(index, item.val)">
				        <label>{{ item.name }}</label>
				      </div>
				    </div> -->

				    <div class="field">
				    	<div class="ui checkbox">
				    		<input type="checkbox" name="mapreverse" v-model="model.maprev">
				    		<label>Reverse</label>
				    	</div>
				    </div>
				</div>
			</div>
		</div>

		<div class="sixteen wide column">
			<div class="ui fluid buttons">
				<button class="ui tiny primary button" v-on:click="getOverview(index)">Update Map{{index}}</button>
				<button class="ui tiny primary button" v-on:click="getOverview(-1)">Update All Maps</button>
			</div>
		</div>

		<div class="ui divider"></div>

		<div class="sixteen wide column">
			<div class="ui row">
				<h4 class="ui header"><i class="right angle icon divider"></i>Filters</h4>
			</div>

			<div class="ui grid">
				<div class="four wide column">
					<label for=""><img class="ui mini image" src="/assets/filter-icon.png">Entropy</label>
				</div>
				<template>
				<div class="twelve wide column">
					<vue-slider id="eSlider" ref="eSlider" v-bind="components.eSlider" @drag-end="updateSlider('e', index)" v-model="components.eSlider.value"></vue-slider>
				</div>
				</template>
				<div class="four wide column">
					<label for=""><img class="ui mini image" src="/assets/filter-icon.png">Density</label>
				</div>
				<template>
				<div class="twelve wide column">
					<vue-slider id="dSlider" ref="dSlider" v-bind="components.dSlider" @drag-end="updateSlider('d', index)" v-model="components.dSlider.value"></vue-slider>
				</div>
				</template>
			</div>	
		</div>

		<br>

		<div class="statcharts sixteen wide column">
			<div :id="'estatChart'+index"></div>
		</div>
		<div class="sixteen wide column">
			<div :id="'dstatChart'+index"></div>
		</div>
	</div>
	
</div>



