<div id="" class="sixteen wide column">
	<h5 class="vtitle"><i class="right angle icon divider"></i>Data and Parameters</h5>
	<div class="ui form">
		<div class="inline fields">
			<label>Region</label>
			<div v-for='item in params.regions' class="field">
				<div class="ui tiny image" v-bind:class="isActive(item.val)">
				  <img :src="regionImgUrl(item.val)" v-on:click="updateCity(item.val)">
				</div>
				<span>{{item.name}}</span>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="inline fields">
			<label>Calculation Type</label>
			<span v-for="item in params.ctypes" >
			<input type="radio" name="calculationtype" :value="item.val" v-model="selections.ctype">{{item.name}} 
			</span>
		</div>
		<div class="ui divider"></div>
		<div class="inline fields">
			<label>Entropy Type</label>
			<span v-for="item in params.etypes" >
			<input type="radio" name="entropytype" :value="item.val" v-model="selections.etype">{{item.name}} 
			</span>
		</div>
		<div class="ui divider"></div>
		<div class="inline fields">
			Min <input id="eMinValInput" type ="range" min ="0" :max="1" v-model="selections.eVal.min" step="0.01"/> {{selections.eVal.min*100}}%
			Max <input id="eMaxValInput" type ="range" min ="0" max="1" v-model="selections.eVal.max" step="0.01"/> {{selections.eVal.max*100}}%
		</div>
		<div class="ui divider"></div>
		<div class="inline fields">
			<button v-on:click="getEntropyOverview">Display Entropy</button>
			<button v-on:click="getDensityOverview">Display Density</button>
		</div>
	</div>
</div>
