$radio-hover: #2199e8

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.map
  height: 100vh
  width: 100%

.no-lr-margin.columns
  padding-left: 0
  padding-right: 0

.tiny.hollow.button
  margin: .3em .2em
  border-radius: 4px
  padding: 0.35em .6em
  font-size: 0.7rem
  color: black

input[type='radio'], input[type='checkbox']
  cursor: pointer
  vertical-align: middle
  margin-bottom: 2px
  margin-left: 2px
  width: 1em
  height: 1em

input[type=range]
  width: 100% /* Specific width is required for Firefox. */
  background: transparent /* Otherwise white in Chrome */

#poicheckbox>label, 
#moderadio>span>label,
#cityradio>label
  margin-left: 0.1rem
  margin-right: .6rem

#groupcontainer>div>div
  width: 2.5em
  height: 2.5em
  background-color: #5147D7
  margin-right: 1em

.columns h5
  margin-top: .9em

div .tinyinput
  height: 1.8rem

#userpanel
  height: 100vh
  z-index: 2
  position: absolute
  background-color: rgba(255,255,255,.7)