@charset "UTF-8";
/**
 * comp.css
 * @authors Joe Jiang (hijiangtao@gmail.com)
 * @date    2017-02-13 15:19:17
 * @version $Id$
 */

body {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

/*MAP STYLESHEETS*/
#mappanel {
    height: 93vh;
    width: 74vw;
    left: 26vw;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

#mappanel>div {
    float: left;
    margin: 0;
    border-radius: 2px;
}

.onemap {
    height: 100%;
    width: 100%;
}
.twomap {
    height: 100%;
    width: 50%;
}
.formap {
    height: 50%;
    width: 50%;
}

.cursor {
    cursor:pointer;
}

/*path {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 1.5px;
}

path:hover {
  fill: brown;
  fill-opacity: .7;
}*/

/*MAP STYLESHEETS*/

#titlemenu {
    height: 7vh;
    margin: 0;
    border-radius: 0;
}


/*user panel background stylesheets*/
#userpanel {
    /*top: 9vh;*/
    width: 26vw;
    position: absolute;
    /*padding: .5rem;*/
    margin: 0;
    height: 93vh;
    /*z-index: 9;*/
    background-color: rgba(255, 255, 255, .8);
    border-radius: 0;
}
#userpanel>div {
    overflow: hidden;
    /*height: 100%;*/
}

.m-legend {
    /*position: absolute;*/
    /*z-index: 11;*/
    min-height: 0;
}

.ui.form select, .field select.roundselect, select.roundselect {
    border-color: rgb(0,0,0);
    background-color: white;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    border-radius: .6rem;

    padding: 0.32em 1em;
    outline: none;
}

img.ui.image {
    display: inline;
}

.ui.pointing.secondary.menu {
    width: 100%;
}

.ftpimg {
    padding-left: 2px;
    padding-right: 2px;
    width: 15%;
}

.designedfontcolor {
    color: rgba(250,150,30,1);
}

/*CHARTS STYLESHEET*/
.statcharts>div {
    margin-top: 5px;
    width: 100%;
    /*height: 60px;*/
}
.area {
  fill: rgba(250,150,30,1);
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
.brush rect.selection {
    stroke: none;
    fill: red;
}

.e-active {
    display: block !important;
}

#vctab>div.item {
    font-size: 1.5rem;
    padding: .4rem 1rem;
    border-bottom-width: 4px;
}

#test {
    width: 400px;
}


/*CHARTS STYLESHEET*/

/*.selectedregion {
	border: solid white .6em;
}
.selectedregion img {
    background-color: rgba(250,150,30,1);
}

.regiondesc {
    position: absolute;
    top: 43%;
    text-align: center;
    left: .2em;
    right: .2em;
}*/

/*REWRITE SEMANTIC-UI*/
.ui.tiny.image {
	width: 5.2rem;
}

.ui.grid > .column:not(.row) {
    padding-top: .6rem;
    padding-bottom: 0;
}

.ui.grid {
    margin-top: 0;
}

.ui.attached.segment {
    border-top: 0;
}
h4.ui.header {
    color: rgba(250,150,30,1);
}
.ui.attached.segment {
    border-bottom: 0;
}
.ui.segment[class*="bottom attached"] {
    margin-bottom: 0;
}

.ui.card {
    position: absolute;
    z-index: 11;
    top: 1rem;
    left: 1rem;
    border-radius: .5rem;
    width: 210px;
    border-radius: 4px;
}
.ui.card>.image {
    padding: 1.7rem;
}
/*REWRITE SEMANTIC-UI*/