@charset "UTF-8";
/**
 * comp.css
 * @authors Joe Jiang (hijiangtao@gmail.com)
 * @date    2017-02-13 15:19:17
 * @version $Id$
 */

body {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

#map {
    height: 93vh;
    width: 74vw;
    /*padding: .5rem;*/
    position: absolute;
    left: 26vw;
    margin: 0;
}

#titlemenu {
    height: 7vh;
    margin: 0;
}


/*user panel background stylesheets*/
#userpanel {
    /*top: 9vh;*/
    width: 26vw;
    position: absolute;
    /*padding: .5rem;*/
    margin: 0;
    height: 93vh;
    /*z-index: 9;*/
    background-color: rgba(255, 255, 255, .8);
}

#maplegend {
    position: absolute;
    z-index: 11;
}

.vtitle {
	color: orange;
}

#floatpanel {
    position: absolute;
    left: 26vw;
    padding: 1rem;
    margin-top: 6rem;
    /*width: 20vw;*/
    z-index: 9999;
    background-color: rgba(255,255,255,0.8);
}

/*.selectedregion {
	border: solid white .6em;
}
.selectedregion img {
    background-color: rgba(250,150,30,1);
}

.regiondesc {
    position: absolute;
    top: 43%;
    text-align: center;
    left: .2em;
    right: .2em;
}*/

/*REWRITE SEMANTIC-UI*/
.ui.tiny.image {
	width: 5.2rem;
}

.ui.grid > .column:not(.row) {
    padding-top: .6rem;
    padding-bottom: 0;
}

.ui.grid {
    margin-top: 0;
}
/*.ui.button {
    padding: 0.385714em 0.7em;
}*/
/*REWRITE SEMANTIC-UI*/