@charset "UTF-8";
/**
 * home.css
 * @authors Joe Jiang (hijiangtao@gmail.com)
 * @date    2017-01-05 21:34:44
 * @version $Id$
 */

#map {
    height: 100vh;
    width: 100vw;
}

/*user panel background stylesheets*/
#userpanel {
    top: 0;
    width: 25vw;
    position: absolute;
    padding: .5rem;
    margin: 0;
    height: 100vh;
    z-index: 9;
    background-color: rgba(255, 255, 255, .7);
}

.heatmap {
	position: absolute;
	bottom: 1em;
	left: 26vw;
	width: 23vw;
	z-index: 3;
}

#clamatrixheatmap, #compclamatrixheatmap {
	height: 200px;
	width: 100%;
}

.vcPanelRow.row {
	padding-bottom: .2rem;
	padding-top: .2rem;
}

#usageguidance, #panelChart>img {
	cursor:pointer;
}

#panelChart {
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    padding-left: .5rem;
	padding-right: .5rem;
}

/*TEST STYLESHEETS FOR MAP OVERLAY LEGEND*/
#mapviewlegend {
	position: absolute;
	left: 26vw;
	top: 1rem;
	/*background-color: red;*/
	z-index: 3;
}

#infomsg {
	display: none;
}

/*CHARTS*/
#clascatterplot, #expclascatterplot {
    width: 100%;
    position: relative;
}
#clascatterplot {
    height: 250px;
}
#expclascatterplot {
    height: 450px;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.posabs {
  position: absolute;
}

svg.posabs {
  pointer-events: none;
}

.hidden {
  display: none;
}