@charset "UTF-8";
/**
 * home.css
 * @authors Joe Jiang (hijiangtao@gmail.com)
 * @date    2017-03-17 09:59:18
 * @version $Id$
 */

body {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

/*MAP STYLESHEETS*/
#dynamicview {
    /*background-color: black;*/
    height: 93vh;
    width: 100vw;
    top: 7vh;
    position: absolute;
    z-index: 1001;
    display: none;
}

#mappanel {
    height: 93vh;
    width: 74vw;
    left: 26vw;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

#mappanel>div {
    float: left;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

/*MAPVIEW STYLESHEETS*/
.onemap {
    height: 100%;
    width: 100%;
}
.twomap {
    height: 100%;
    width: 50%;
}
.formap {
    height: 50%;
    width: 50%;
}
.sixmap {
    height: 50%;
    width: 33.33%;
}

.vamap {
    width: 100%;
    height: 100%;
}

.cdacontainer, .tdacontainer {
    width: 100%;
    height: 100%;
}
.cdacontainer>div, .tdacontainer>div {
    float: left;
    /*border: 2px solid black;*/
}

.sixmap.ui.segment, .formap.ui.segment {
    margin: 0;
    padding: 0;
}
/*MAPVIEW STYLESHEETS*/

/*ICON LAYOUT*/
.i-label, .i-main {
    float: left;
}
.i-ani {
    float: right;
}

.i-label {
    width: 10%;
}
.i-main {
    width: 78%;
}
.i-ani {
    width: 12%;
}
.emptylabel {
    width: 9%;
    height: 1px;
}

.cityimg.ui.tiny.image {
    width: 17%;
    margin-right: 10.66%;
}
.cityimg.ui.tiny.image:last-child {
    margin-right: 0;
}
.i-ani>.ui.image.cursor {
    padding-left: 15%;
}
.i-ani>.ui.image.cursor.tY10 {
    transform: translateY(10%);
}
.ftp2field {
    width: 32%;
    margin-right: 2%;
    transform: translateY(50%);
}
.ftp2field:last-child {
    margin-right: 0;
}
.ftpimg {
    width: 13%;
    margin-right: 1.5%;
}
.ftpimg:last-child {
    margin-right: 0;
}

/*统一menu label宽度*/
.ui.form .inline.fields > label.l-label {
    /*width: 30%;*/
}

#prlabel, {
    margin-right: 0;
}
.ui.form .inline.fields > label {
    margin-right: 8px;
}
/*ICON LAYOUT*/

/*MAP CARD STYLE*/
.ui.mini.button {
    padding: 0.58571429em .6em 0.58571429em;
}

.c-halfwidth {
    width: 50%;
    float: left;
}
.c-halfwidth>.ui.checkbox {
    transform: translateY(10%);
}

#hrsliContainer {
    width: 4.5rem;
    padding-right: 0;
}
#opaContainer {
    width: 3rem;
}

.mapcardtitle {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}
.mapcardtitle.ui.header {
    color: red;
}
.dynamicmetric {
    position: absolute;
    bottom: 0px;
    right: 2px;
}
/*MAP CARD STYLE*/

#titlemenu {
    height: 7vh;
    margin: 0;
    border-radius: 0;
}

.cursor {
    cursor:pointer;
}

/*user panel background stylesheets*/
#userpanel {
    /*top: 9vh;*/
    width: 26vw;
    position: absolute;
    /*padding: .5rem;*/
    margin: 0;
    height: 93vh;
    /*z-index: 9;*/
    background-color: rgba(255, 255, 255, .8);
    border-radius: 0;
}
#userpanel>div {
    overflow: hidden;
    /*height: 100%;*/
}

#closeIcon {
    float: right;
}


.ui.form select, .field select.roundselect, select.roundselect, .ui.compact.menu {
    border-color: rgb(0,0,0);
    background-color: white;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    border-radius: .6rem;

    padding: 0.32em 1em;
    outline: none;
}

img.ui.image {
    display: inline;
}

.ui.pointing.secondary.menu {
    width: 100%;
}



/*.ftp2img.ui.tiny.image {
    width: 8.5rem;
}
.ftpimg.ui.tiny.image {
    width: 2.9rem;
}
.ui.form .inline.fields .field.ftp2filed {
    padding-right: .2rem;
}*/

.toggle.right.icon {
	font-size: 2.5rem;
}
.ui.form .inline.fields .field>div.dynamicbtn {
    margin-bottom: -1rem;
}

.designedfontcolor {
    color: rgba(250,150,30,1);
}

/*LINE CHART*/
.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: rgba(250,150,30,1);
  stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 1px;
}
  
.hover-line {
  stroke: rgba(250,150,30,1);
  stroke-width: 1px;
  stroke-dasharray: 3,3;
}
/*LINE CHART*/

/*CHARTS STYLESHEET*/
.legendCells text.label {
    font-size: 10.5px;
}

.statcharts {
    /*margin-top: 5px;*/
    width: 100%;
    height: 150px;
}
.area {
  fill: rgba(250,150,30,1);
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
.brush rect.selection {
    stroke: none;
    fill: red;
}

.e-active {
    display: block !important;
}
button.ui.mini.grey.button.s-active {
	background-color: rgba(250,150,30,1) !important;
	border-color: rgba(250,150,30,1) !important;
	box-shadow: 0 !important;
	color: white !important;
}

#vctab {
	margin: 0;
}
#vctab>div.item {
    font-size: 1.5rem;
    padding: .2rem 1rem;
    border-bottom-width: 4px;
}

#test {
    width: 400px;
}

.svgtooltip {
    position: absolute;         
    text-align: center;         
    width: 60px;                    
    height: 28px;                   
    padding: 2px;              
    background: white; 
    border: 0px;        
    border-radius: 4px;         
    pointer-events: none;       
}

/*CHARTS STYLESHEET*/

/*REWRITE SEMANTIC-UI*/


.ui.grid > .column:not(.row) {
    padding-top: .6rem;
    padding-bottom: 0;
}

.ui.grid {
    margin-top: 0;
}

.ui.attached.segment {
    border-top: 0;
}
h4.ui.header {
    /*color: rgba(250,150,30,1);*/
}
.ui.attached.segment {
    border-bottom: 0;
}
.ui.segment[class*="bottom attached"] {
    margin-bottom: 0;
}

.ui.card {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 1em;
    border-radius: .5rem;
    width: 160px;
    border-radius: 4px;
    z-index: 11;
}
.ui.card>.image {
    padding: 5%;
}

.dcard.ui.card {
    position: absolute;
    z-index: 11;
    top: 1rem;
    left: 1rem;
    border-radius: .5rem;
    width: 115px;
    border-radius: 4px;
    z-index: 11;
}
.dcard.ui.card>.image {
    padding: .8rem;
}
.ui.table thead th {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.ui.table td {
    padding-top: 0.38em;
    padding-bottom: 0.38em;
}

.ui.compact.menu {
    border-color: rgb(0,0,0);
    background-color: white;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    border-radius: .6rem;

    padding: 0;
    min-height: inherit;
    /*outline: none;*/
}
.ui.menu .item {
    padding: 0.78em .8em 0.78em;
    font-size: 0.85714286rem;
}
.ui.cards > .card > .extra, .ui.card > .extra, .ui.cards > .card > .content, .ui.card > .content {
    padding: 0.3em 0.45em;
}

.ui.checkbox label {
    padding-left: 1.3em;
}

.ui.form .inline.fields:last-child {
    margin-bottom: 0;
}

.ui.menu .utem {
    margin: 0em 0.35714286em -0.2em 0em;
}

.ui.small.celled.table {
    margin: 1rem 0;
}

.ui.card > .content p {
    margin-bottom: .2em;
}
/*REWRITE SEMANTIC-UI*/