<div :id="'card' + index" @click="bindTabClick(index)" class="ui card">
	<div class="image cursor">
		<h2 class="mapcardtitle ui header cursor">{{ cals.cities[model.city] }}</h2>
		<img v-show="sels.lstindex === index" :src="cals.cimgs[model.city].aurl">
		<img v-show="sels.lstindex !== index" :src="cals.cimgs[model.city].nurl">
	</div>
	<div class="content">
		
		<div class="description">
			<div class="ui grid">
				<div class="sixteen wide column">
					<p>Metric: {{ cals.enps[ model.etype ] }} </p>
					<template v-if="model.dtype !== 'd'" >
						<div>
							<vue-slider :id="'slider'+index" :ref="'eSlider'+index" v-bind="sels.objs[index].slider" @drag-end="updateSlider(index)" v-model="sels.objs[index].slider.value"></vue-slider>
						</div>
					</template>
					<p>Reference: {{ cals.ops[ sels.otype ] }}</p>
					<p>Base: <span :id="'baselyrtext'+index">FACET</span></p>
				</div>
				<div class="sixteen wide column" style="margin-bottom: .4rem; padding-top: 0;">
					<button style="float: left;" class="ui tiny button" :class="areaselState" v-on:click="optAreaSelect(index)">Area Select</button>
					<div style="margin-top: .4rem;" class="ui checkbox">
					  <input type="checkbox" :name="'reverseColor'+index" v-model="sels.objs[index].reverse">
					  <label>REV.</label>
					</div>
					<!-- <div class="c-halfwidth">
						<button class="ui tiny button" :class="areaselState" v-on:click="optAreaSelect(index)">Area Select</button>
					</div>
					<div class="c-halfwidth">
						<div class="ui checkbox">
						  <input type="checkbox" :name="'reverseColor'+index" v-model="sels.objs[index].reverse">
						  <label>REV.</label>
						</div>
					</div> -->
				</div>
				<!-- <div class="sixteen wide column">
					<template v-if="model.dtype !== 'd'" >
						<div>
							<vue-slider :id="'slider'+index" :ref="'eSlider'+index" v-bind="sels.objs[index].slider" @drag-end="updateSlider(index)" v-model="sels.objs[index].slider.value"></vue-slider>
						</div>
					</template>
				</div> -->
				

				<div :id="'maplegend'+index"  class="sixteen wide column">
					<svg :id="'gridmaplegend'+index" style="display: none;" ></svg>
					<!-- <div :id="'contourmaplegend'+index">
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
