<div class="ui grid">
    <!--city icons-->
    <div class="sixteen wide column">
        <label class="i-label"><img class="ui mini image" src="/assets/region-icon.png">City
        </label>
        <div class="i-main">
            <div v-for='item in params.regions' class="cityimg ui tiny image cursor" data-inverted="" :data-tooltip="item.name" data-position="right center" >
                <img v-show="item.val === sels.objs[0].city" :src="item.aurl" @click="updateSelectRegion(item.val)">
                <img v-show="item.val !== sels.objs[0].city" :src="item.nurl" @click="updateSelectRegion(item.val)">
            </div>
        </div>
        <div class="i-ani">
            <div class="ui image cursor tY10">
                <img data-inverted="" data-tooltip="Comparison Analysis" data-position="right center" src="/assets/compare-icon.png" @click="openDynamic('c')">
            </div>
        </div>
    </div>
    <!--timeperiod icons-->
    <div class="sixteen wide column">
        <label class="i-label"><img class="ui mini image" src="/assets/time-icon.png">Time</label>
        <div class="i-main ">
            <div v-for='item in params.tpfilters2' class="ftp2field ui image cursor">
                <img v-show="item.val === sels.objs[0].ftpval2" :src="item.aurl" @click="updateTPFilter(item.val)" :title="item.name">
                <img v-show="item.val !== sels.objs[0].ftpval2" :src="item.nurl" @click="updateTPFilter(item.val)" :title="item.name">
            </div>
        </div>
        <div class="i-ani">
            <div class="ui image cursor tY10">
                <img title="Dynamic Analysis" src="/assets/compare-icon.png">
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="i-label emptylabel"></div>
        <div class="i-main ">
            <div v-for='item in params.tpfilters' class="ftpimg ui image cursor">
                <img v-show="item.val === sels.objs[0].ftpval" :src="item.aurl" @click="updateTPFilter(item.val)" :title="item.name">
                <img v-show="item.val !== sels.objs[0].ftpval" :src="item.nurl" @click="updateTPFilter(item.val)" :title="item.name">
            </div>
        </div>
        <div class="i-ani">
            <div class="ui  image cursor">
                <img title="Dynamic Analysis" src="/assets/compare-icon.png" @click="openDynamic('t')">
            </div>
        </div>
    </div>

    <div id="vctab" class="ui pointing secondary menu">
        <div v-for="(model, index) in sels.objs" :id="'switch'+index" :class="{'active':index === sels.lstindex}" class="tabs item cursor" :data-tab="'tab'+index" @click="bindTabClick(index)">{{ cals.enps[model.etype]}}</div>

        <div id='addObjBtn' class="item cursor" @click='addAnaObj'><i class="designedfontcolor plus square outline icon"></i></div>
        <div id='delObjBtn' class="item cursor" @click='delAnaObj'><i class="minus square outline icon"></i></div>
    </div>
    <div v-for="(model, index) in sels.objs" :id="'tab' + index" :class="{'e-active':index === sels.lstindex}" class="panels ui bottom attached tab segment" :data-tab="'tab'+index">
        <div class="sixteen wide column">
            <div class="ui form">
                <div class="inline fields">
                    <label class="l-label"><img class="ui mini image" src="/assets/type-icon.png">Metric Layer</label>
                    <div class="field">
                        <div class="ui compact menu">
                            <div class="ui simple dropdown item">
                                <span>{{ cals.enps[ model.etype ] }}</span>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" v-for='item in params.etypes' @click="enpsDropdown(item.val)">{{ item.name }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label id="prlabel">PRadius</label>
                    <div id="hrsliContainer" class="field">
                        <vue-slider id="hrSlider" ref="hrSlider" v-bind="components.hrSlider" @drag-end="pradiusUpd" v-model="sels.ctrsets.radius"></vue-slider>
                    </div>
                    <div class="field">
                        <div id="opaContainer" class="ui mini labeled input">
                            <div class="ui label">
                                Opacity
                            </div>
                            <input type="text" v-model="sels.ctrsets.opacity" placeholder="...">
                        </div>
                    </div>
                </div>
                <div class="inline fields">
                    <label class="l-label"><img class="ui mini image" src="/assets/type-icon.png">Reference Layer</label>
                    <!-- getOverlay -->
                    <div class="field">
                        <div class="ui compact menu">
                            <div class="ui simple dropdown item">
                                <span>{{ cals.ops[ sels.otype ] }}</span>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" v-for='item in params.otypes' @click="refsDropdown(item.val)">{{ item.name }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Specific POI Category -->
                    <!-- v-if="sels.otype === 'p'" -->
                    <label :class="{ 'disabled':sels.otype !== 'p'}">POI</label>
                    <div class="field" >
                        <div class="ui compact menu">
                            <div :class="{ 'disabled': sels.otype !== 'p' }" class="ui simple dropdown item">
                                <span>{{ cals.pois[ sels.ptype ] }}</span>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" v-for='item in params.pois' @click="poisDropdown(item.val)">{{ item.name }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SPecific District Scales -->
                    <!-- v-if="sels.otype === 'd'" -->
                    <label :class="{ 'disabled':sels.otype !== 'd' }">District</label>
                    <div class="field" >
                        <div class="ui compact menu">
                            <div :class="{ 'disabled': sels.otype !== 'd' }" class="ui simple dropdown item">
                                <span>{{ cals.scales[ sels.stype ] }}</span>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" v-for='item in params.scales' @click="disDropdown(item.val)">{{ item.name }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="sixteen wide column">
            <h4 class="ui header">
                {{sels.objs[index].data.smec.name}} Details
            </h4>
        </div>
        <div class="sixteen wide column">
            <table class="ui small selectable celled table">
                <thead>
                    <tr>
                        <th>Fluidity</th>
                        <th>Virancy</th>
                        <th>Commutation</th>
                        <th>Diversity</th>
                        <th>Density</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{sels.objs[index].data.smec['ar'].toFixed(4)}}</td>
                        <td>{{sels.objs[index].data.smec['pp'].toFixed(4)}}</td>
                        <td>{{sels.objs[index].data.smec['ap'].toFixed(4)}}</td>
                        <td>{{sels.objs[index].data.smec['pr'].toFixed(4)}}</td>
                        <td>{{sels.objs[index].data.smec['d']}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="sixteen wide column">
            <p>Selected District - <span :id="'carddistrict'+index">Null</span>, Used {{ cals.enps[ sels.objs[index].etype ]+ ": " }} - <span :id="'cardenps'+index">Null</span></p>
        </div> -->
        <div class="sixteen wide column">
            <div class="statcharts" :id="'estatChart'+index"></div>
        </div>
        <div class="sixteen wide column">
            <div class="poischarts" :id="'poiChart'+index"></div>
        </div>
        <div class="sixteen wide column">
            <div class="discharts" :id="'disChart'+index"></div>
        </div>
    </div>
</div>
