<div id="" class="sixteen wide column">
    <h5><i class="right angle icon divider"></i>Cluster</h5>
    <div class="ui form">
        <div class="inline fields">
            <label>DBScan eps</label>
            <div class="field" data-tooltip="Maximum radius of the neighborhood from current point" data-position="top left" data-inverted="">
                <div class="eps ui mini input">
                    <input type="text" type="number" placeholder="EPS..." v-model='selections.dbscaneps'>
                </div>
            </div>
            <label>minpts</label>
            <div class="field" data-tooltip="Minimum number of points required to form a dense region" data-position="top left" data-inverted="">
                <div class="ui mini compact menu">
                    <div class="ui simple dropdown item">
                        <span>{{ selections.dbscanminptsName }}</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div v-for='item in settings.dbscan.minpts' class="item" v-on:click='changeDBScanInp(item)'>{{ item }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="clusterBtn" class="ui mini secondary button" :class="{ 'loading': states.clustertrain }" v-on:click='clusterTrain'>Cluster</button>
        </div>
    </div>
</div>